*{
  margin:0;
  padding:0;
  font-family: Arial, Helvetica, sans-serif


}
.wrapper {
  max-width: 1500px; /* Set a maximum width for the content */
  margin: 0 auto; /* Centers the wrapper horizontally */
  padding: 0 12px; /* Adds equal spacing on the left and right */
  /* Optional: background color for visualization */
}
